.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: aliceblue;
    width: 70%;
    padding: 10px;
    margin-top: 30px;
  }
  


  h1 {
    color: black;
    font-size: 25px;
  }

  .card-description {
    color: black;
    font-size: 15px;
    word-break:break-all;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: yellow;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .img-menu{
    max-width: 300px;
    max-height: 300px;
  }