.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  border: 1px solid black;
  max-height: 5vh;
  min-height: 4vh;
}
.pendientes{
  float: left;
  min-width: 47%;
  max-width: 49%;
  height: fit-content;
  border: 1px solid black;
}
.pendientes nav{
  background-image: linear-gradient(to bottom, #ffff3c, #ffe089, #ffdce0, #fff0ff, #ffffff);
}
.tareas_pendientes{
  display: flex;
  justify-content: space-around;
  width: fit-content;
  padding: 3vh;
}
.pendientes a{
  font-weight: bold;
}