.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f6f9ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(17, 17, 17);
}

.App-link {
  color: #61dafb;
}
.container{
  background-color: #e7e1e1;
  display: grid;
}
.upper{
  text-align: center;
  border-color: black;
  padding: 20px;
}
.card-list{
  background-color: #ffffff;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  padding: 15px;
}
.card{
  background-color:rgb(255, 234, 112);
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 3px;
}
.more-option {
  width: 30px;
  height: 25px;
  background-image: radial-gradient(circle, black 3px, transparent 4px);
  background-size: 33.33% 100%;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.card > .more-option {
  position: absolute;
  right: 0;
  top: 0px;
  margin: 10px 10px 0px 0px;
}

.menu {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 0px;
  margin: 30px 10px 0px 0px;
  display: flex;
  flex-direction: column;
}

button + .menu:active,
button:focus + .menu {
  visibility: visible;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
