body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.prueba{
  
  
  background-color: rgb(254, 254, 254);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-right: 2%;
  border-radius: 5px;
  
  
}
.card{
  background-color: rgb(247, 255, 19);
  font-size: 18px;
  color: rgb(0, 0, 0);
  height: 150px;
  width: 350px;
  border: 1px solid black;
  display: flex;
  margin: 10px;
  box-shadow: 1px 5px 5px rgb(79, 78, 78);
  word-break: break-all;
  border-radius: 5px;
}

/* dropwodown */

/* Style The Dropdown Button */
/* .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


#menu_icon {
  width: 24px;
  height: 20px;
  position: relative;
  cursor: pointer;
  text-indent: -9999px;
  
}

#menu_icon::after {
  content: '';
  width: 24px;
  height: 4px;
  background: #000;
  position: absolute;
  top: 5px;
  left:300px;
  
  box-shadow: 0 0px 0 #000,
              0 8px 0 #000,
              0 16px 0 #000;
  transition: all .2s;
  
  
}

#menu_icon:hover::after {
  width: 20px;
  margin-left: 2px;
  
  
}

.list-style{
  list-style:none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: #4CAF50;
  display: flex;
  
}


svg{
  
  
  height: 20px;
  flex: 1;
  padding: 30%;
  
}
.cheks{
  display: flex;
  
}


select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 250px;
  
}
select:focus{ outline: none;}

  .caja {
    margin:20px auto;        
    
    height:30px;
    width: 230px;
    overflow: hidden;
    position:relative;
 }
 .caja::after{
  content:"\025be";
  display:table-cell;
  text-align:center;
  padding-top:7px;
  width:30px;
  height:30px;
  background-color:#d9d9d9;
  position:absolute;
  top:0;
  right:0px;
  pointer-events: none;
} */






.container {
  background-color: #e7e1e1;
  display: grid;
}

.task-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  padding: 15px;
}

.card {
  background-color: #ffff31;
  padding: 15px;
  position: relative;
}

.more-option {
  width: 30px;
  height: 25px;
  background-image: radial-gradient(circle, black 3px, transparent 4px);
  background-size: 33.33% 100%;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.card > .more-option {
  position: absolute;
  right: 0;
  top: 0px;
  margin: 10px 10px 0px 0px;
}

.menu {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 0px;
  margin: 30px 10px 0px 0px;
  display: flex;
  flex-direction: column;
}

button + .menu:active,
button:focus + .menu {
  visibility: visible;
}